@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

img.alphabet{
	max-height: 10%;
	max-width: 90%;
}

img.letter{
	max-height: 50%;
	max-width: 90%;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-style: italic;
	font-size: .75em;
}

figcaption em{
	font-style: normal;
}

p span.i1{
	padding-left: 2em;
}

p span.i2{
	padding-left: 4em;
}
