@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

p.caption{
	text-align: center;
	font-variant: all-small-caps;
}

blockquote.illustration{
	break-before: page;
}

blockquote.illustration > img{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

blockquote.caption > p{
	margin-left: auto;
	margin-right: auto;
	text-indent: 0;
	width: 90%;
}

blockquote.endpoem{
	break-before: page;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}
